<!DOCTYPE html>
<html>
<head>
    <title>Perbarui Password</title>
</head>
<body>

<div class="container">
    <h1>Perbarui Password</h1>

    <form method="POST">
        {% csrf_token %}

        <input type="email"
               name="email"
               placeholder="Masukkan Email"
               required>

        <input type="password"
               name="password_baru"
               placeholder="Password Baru"
               required>

        <input type="password"
               name="konfirmasi_password"
               placeholder="Konfirmasi Password"
               required>

        <button type="submit">
            Perbarui Password
        </button>
    </form>

</div>

</body>
</html>